:root {
  --logo-size: 4rem;
  --main-center: 10px auto;
  --nav-font-weight: 800;
  --image-height: 150px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #011E3B;
  color: #FBFBFB;
  font-family: "Red Hat Display", sans-serif;
  font-optical-sizing: auto;
}

/* HEADER NAV */
body {
  max-width: 1200px;
}

nav {
  position: fixed;
  top: 0;
  display: grid;
  grid-template-columns: auto auto 1fr;
  align-items: center;
  background-color: #F9F9F9;
  width: 100%;
  height: var(--logo-size);
  font-weight: var(--nav-font-weight);
  z-index: 0;
}

nav * {
  background-color: transparent;
  color: #39886A; /* Light Green */
}

#header-img {
  height: 100%;
  max-width: var(--logo-size);
  margin-right: 1rem;
}

#group-nav-link {
  display: flex;
  justify-content: flex-end;
  background-color: transparent;
}

.nav-link {
  text-decoration: none;
  color: #0F3826; /* Dark Green */
  margin: 0 15px;
  padding: 5px;
  border-radius: 7px;
  background-color: #A4EBB5; /* Light Green */
}

.nav-link:hover {
  background-color: #FBFFF3; /* Lightest Green */
  color: #011E3B; /* Dark Blue */
  border-radius: 5px;
  padding: 5px;
  font-size: 120%;
  font-weight: bold;
}

/* MAIN */
main {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 40px 0;
  margin-top: calc(var(--logo-size) * 1.4);
}

/* ABOUT */
#about {
  text-align: center;
  padding: 0 30px;
}

#about h2 {
  font-size: 2rem;
  margin-bottom: 20px;
  color: #79E5C6; /* Light Cyan */
}

#about p {
  line-height: 1.5;
  color: #DCEEE9; /* Light Cyan */
  padding: 0 30px;
  margin-bottom: 10px;
}

/* FORM */
form {
  border: 2px solid #F9F9F9;
  padding: 20px;
  width: fit-content;
}

form * {
  padding: 0 5px;
  margin: 5px;
  font-size: 15px;
  text-align: center;
}

form input {
  background-color: aliceblue;
  opacity: 0.6;
  color: black;
}

#submit {
  padding: 0 15px;
  color: darkslategrey;
}

@media (max-width: 200px) {
  form {
    justify-content: column;
  }
}

/* PRODUCT */
.products h2,
.product {
  text-align: center;
}

.product {
  position: relative;
  display: inline-block;
  margin: 15px;
}

.hoverable-product:hover + .display-on-hover {
  display: block;
}

.product img {
  height: var(--image-height);
  border: 3px solid #003C00; /* Dark Green */
  border-radius: 8px;
  transition: transform 0.3s ease;
  z-index: 2;
  opacity: 0.6;
}

.product:hover .display-on-hover {
  display: block;
}

.display-on-hover {
  display: none;
  width: calc(var(--image-height) * 1.5);
  padding-bottom: 10px;
  position: absolute;
  left: 50%;
  top: 110%;
  transform: translateX(-50%);
  background-color: #371F74; /* Dark Purple */
  color: #FFF;
  padding: 10px;
  border-radius: 8px;
  z-index: 3;
}

.display-on-hover + .product-text {
  font-weight: bold;
  color: #ABB5EB; /* Light Purple */
}

.product img:hover {
  transform: scale(1.7);
  opacity: 1;
}

/* VIDEO */
#video p {
  text-align: center;
}

iframe {
  border-radius: 20px;
}
